In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in csv files
offense_df = pd.read_csv("resources/offense.csv")
defense_df = pd.read_csv("resources/defense.csv")

In [3]:
# Preview the first five rows of the offense dataset
offense_df.head()

,date,home_away,opponent,score,passing_cmp,passing_att,passing_pct,passing_yds,passing_td,rushing_att,...,total_avg,first_down_pass,first_down_rush,first_down_pen,first_down_total,penalties,penalty_yds,fumbles,intceptions,turnovers
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9/2/2000,NaN,San Jose State,W (49-13),5.0,13.0,38.5,91.0,1.0,60.0,...,8.2,4.0,24.0,0.0,28.0,4.0,31.0,0.0,3.0,3.0
3,9/9/2000,@,Notre Dame,W (27-24),7.0,15.0,46.7,103.0,0.0,59.0,...,5.1,5.0,14.0,1.0,20.0,6.0,44.0,0.0,1.0,1.0
4,9/23/2000,NaN,Iowa,W (42-13),10.0,13.0,76.9,159.0,5.0,51.0,...,7.7,6.0,17.0,0.0,23.0,5.0,55.0,1.0,0.0,1.0

In [4]:
# Preview the first five rows of the defense dataset
defense_df.head()

,date,home_away,opponent,score,passing_cmp,passing_att,passing_pct,passing_yds,passing_td,rushing_att,...,total_avg,first_down_pass,first_down_rush,first_down_pen,first_down_total,penalties,penalty_yds,fumbles,intceptions,turnovers
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9/2/2000,NaN,San Jose State,W (49-13),14.0,37.0,37.8,153.0,2.0,29.0,...,5.2,6.0,6.0,2.0,14.0,12.0,65.0,0.0,1.0,1.0
3,9/9/2000,@,Notre Dame,W (27-24),3.0,15.0,20.0,40.0,0.0,40.0,...,4.1,2.0,7.0,2.0,11.0,8.0,67.0,0.0,1.0,1.0
4,9/23/2000,NaN,Iowa,W (42-13),19.0,40.0,47.5,252.0,1.0,31.0,...,4.2,11.0,5.0,2.0,18.0,7.0,57.0,0.0,2.0,2.0

In [5]:
# Drop rows where all columns are NaN
offense_df = offense_df.dropna(how='all')
defense_df = defense_df.dropna(how='all')

In [6]:
# Inspect the information of the dataset (offense and defense should be the same)
offense_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288 entries, 2 to 333
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              288 non-null    object
 1   home_away         131 non-null    object
 2   opponent          288 non-null    object
 3   score             288 non-null    object
 4   passing_cmp       286 non-null    float64
 5   passing_att       286 non-null    float64
 6   passing_pct       286 non-null    float64
 7   passing_yds       286 non-null    float64
 8   passing_td        286 non-null    float64
 9   rushing_att       286 non-null    float64
 10  rushing_yds       286 non-null    float64
 11  rushing_avg       286 non-null    float64
 12  rushing_td        286 non-null    float64
 13  total_plays       288 non-null    float64
 14  total_yds         288 non-null    float64
 15  total_avg         286 non-null    float64
 16  first_down_pass   286 non-null    float64
 17  first_down_rush   286 non-null    float64
 18  first_down_pen    286 non-null    float64
 19  first_down_total  286 non-null    float64
 20  penalties         286 non-null    float64
 21  penalty_yds       286 non-null    float64
 22  fumbles           286 non-null    float64
 23  intceptions       286 non-null    float64
 24  turnovers         286 non-null    float64
dtypes: float64(21), object(4)
memory usage: 58.5+ KB

In [10]:
# Split the record apart and create columns for points for, against, diff, and outcome
dataframes = [offense_df, defense_df]

for dataframe in dataframes:
    
    dataframe[['outcome', 'col1']] = dataframe['score'].str.split(" ", expand=True)
    dataframe['col1'] = dataframe['col1'].str.replace(r"\(", "", regex=True)
    dataframe['col1'] = dataframe['col1'].str.replace(r"\)", "", regex=True)
    dataframe[['points_for', 'points_against']] = dataframe['col1'].str.split("-", expand=True)
    dataframe.drop('col1', axis=1, inplace=True)
    
defense_df

,date,home_away,opponent,score,passing_cmp,passing_att,passing_pct,passing_yds,passing_td,rushing_att,...,first_down_pen,first_down_total,penalties,penalty_yds,fumbles,intceptions,turnovers,outcome,points_for,points_against
2,9/2/2000,NaN,San Jose State,W (49-13),14.0,37.0,37.8,153.0,2.0,29.0,...,2.0,14.0,12.0,65.0,0.0,1.0,1.0,W,49,13
3,9/9/2000,@,Notre Dame,W (27-24),3.0,15.0,20.0,40.0,0.0,40.0,...,2.0,11.0,8.0,67.0,0.0,1.0,1.0,W,27,24
4,9/23/2000,NaN,Iowa,W (42-13),19.0,40.0,47.5,252.0,1.0,31.0,...,2.0,18.0,7.0,57.0,0.0,2.0,2.0,W,42,13
5,9/30/2000,NaN,Missouri,W (42-24),19.0,39.0,48.7,283.0,1.0,31.0,...,1.0,22.0,10.0,95.0,1.0,1.0,2.0,W,42,24
6,10/7/2000,@,Iowa State,W (49-27),22.0,43.0,51.2,346.0,2.0,25.0,...,2.0,18.0,8.0,71.0,0.0,2.0,2.0,W,49,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,10/29/2022,NaN,Illinois,L (9-26),20.0,22.0,90.9,179.0,2.0,48.0,...,1.0,18.0,8.0,72.0,1.0,0.0,1.0,L,9,26
331,11/5/2022,NaN,Minnesota,L (13-20),12.0,20.0,60.0,175.0,0.0,45.0,...,0.0,18.0,2.0,18.0,0.0,0.0,0.0,L,13,20
332,11/12/2022,@,Michigan,L (3-34),10.0,20.0,50.0,148.0,2.0,49.0,...,1.0,27.0,1.0,15.0,0.0,0.0,0.0,L,3,34
333,11/19/2022,NaN,Wisconsin,L (14-15),8.0,18.0,44.4,83.0,1.0,52.0,...,0.0,21.0,5.0,50.0,0.0,1.0,1.0,L,14,15
334,11/25/2022,@,Iowa,W (24-17),17.0,39.0,43.6,150.0,1.0,33.0,...,1.0,18.0,7.0,65.0,3.0,1.0,4.0,W,24,17

In [11]:
# Fill in the Home/Away information
dataframes = [offense_df, defense_df]

for dataframe in dataframes:
    
    dataframe.fillna('home', inplace=True)
    dataframe['home_away'] = dataframe['home_away'].str.replace('@', 'away')

In [13]:
# Investigate the dtypes (offense and defense will be indentical)
offense_df.dtypes

date                 object
home_away            object
opponent             object
score                object
passing_cmp          object
passing_att          object
passing_pct          object
passing_yds          object
passing_td           object
rushing_att          object
rushing_yds          object
rushing_avg          object
rushing_td           object
total_plays         float64
total_yds           float64
total_avg            object
first_down_pass      object
first_down_rush      object
first_down_pen       object
first_down_total     object
penalties            object
penalty_yds          object
fumbles              object
intceptions          object
turnovers            object
outcome              object
points_for           object
points_against       object
dtype: object

In [15]:
# Convert dtypes by creating lists for columns to convert to integers and floating points
columns_to_int = ['passing_cmp', 'passing_att','passing_yds', 'passing_td', 'rushing_att', 
                  'rushing_yds', 'rushing_td', 'total_plays', 'total_yds', 'first_down_pass', 
                  'first_down_rush', 'first_down_pen','first_down_total', 'penalties', 'penalty_yds', 
                  'fumbles','intceptions', 'turnovers', 'points_for', 'points_against']

columns_to_float = ['passing_pct', 'rushing_avg', 'total_avg']

dataframes = [offense_df, defense_df]

for dataframe in dataframes:

    # Convert to numeric values (float) to handle any errors
    dataframe[columns_to_int] = dataframe[columns_to_int].apply(pd.to_numeric, errors='coerce')
    dataframe[columns_to_float] = dataframe[columns_to_float].apply(pd.to_numeric, errors='coerce')

    # Convert the integer columns
    dataframe[columns_to_int] = dataframe[columns_to_int].astype(float).astype(pd.Int64Dtype())

    # Convet the date to datetime using the to_datetime method
    dataframe['date'] = pd.to_datetime(dataframe['date'])

In [16]:
# Confirm that the dataset is ready for loading
offense_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288 entries, 2 to 333
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              288 non-null    datetime64[ns]
 1   home_away         288 non-null    object
 2   opponent          288 non-null    object
 3   score             288 non-null    object
 4   passing_cmp       286 non-null    Int64
 5   passing_att       286 non-null    Int64
 6   passing_pct       286 non-null    float64
 7   passing_yds       286 non-null    Int64
 8   passing_td        286 non-null    Int64
 9   rushing_att       286 non-null    Int64
 10  rushing_yds       286 non-null    Int64
 11  rushing_avg       286 non-null    float64
 12  rushing_td        286 non-null    Int64
 13  total_plays       288 non-null    Int64
 14  total_yds         288 non-null    Int64
 15  total_avg         286 non-null    float64
 16  first_down_pass   286 non-null    Int64
 17  first_down_rush   286 non-null    Int64
 18  first_down_pen    286 non-null    Int64
 19  first_down_total  286 non-null    Int64
 20  penalties         286 non-null    Int64
 21  penalty_yds       286 non-null    Int64
 22  fumbles           286 non-null    Int64
 23  intceptions       286 non-null    Int64
 24  turnovers         286 non-null    Int64
 25  outcome           288 non-null    object
 26  points_for        288 non-null    Int64
 27  points_against    288 non-null    Int64
dtypes: Int64(20), datetime64[ns](1), float64(3), object(4)
memory usage: 70.9+ KB

In [17]:
# Confirm that the dataset is ready for loading
defense_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 289 entries, 2 to 334
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              289 non-null    datetime64[ns]
 1   home_away         289 non-null    object
 2   opponent          289 non-null    object
 3   score             289 non-null    object
 4   passing_cmp       287 non-null    Int64
 5   passing_att       287 non-null    Int64
 6   passing_pct       287 non-null    float64
 7   passing_yds       287 non-null    Int64
 8   passing_td        287 non-null    Int64
 9   rushing_att       287 non-null    Int64
 10  rushing_yds       287 non-null    Int64
 11  rushing_avg       287 non-null    float64
 12  rushing_td        287 non-null    Int64
 13  total_plays       287 non-null    Int64
 14  total_yds         287 non-null    Int64
 15  total_avg         287 non-null    float64
 16  first_down_pass   287 non-null    Int64
 17  first_down_rush   287 non-null    Int64
 18  first_down_pen    287 non-null    Int64
 19  first_down_total  287 non-null    Int64
 20  penalties         287 non-null    Int64
 21  penalty_yds       287 non-null    Int64
 22  fumbles           287 non-null    Int64
 23  intceptions       287 non-null    Int64
 24  turnovers         287 non-null    Int64
 25  outcome           289 non-null    object
 26  points_for        289 non-null    Int64
 27  points_against    289 non-null    Int64
dtypes: Int64(20), datetime64[ns](1), float64(3), object(4)
memory usage: 71.1+ KB

In [18]:
# Drop the two rows that do not have complete statistics
offense_df = offense_df.dropna(axis=0)
defense_df = defense_df.dropna(axis=0)

In [19]:
# Final confirmation of data cleaning operations
offense_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286 entries, 2 to 333
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              286 non-null    datetime64[ns]
 1   home_away         286 non-null    object
 2   opponent          286 non-null    object
 3   score             286 non-null    object
 4   passing_cmp       286 non-null    Int64
 5   passing_att       286 non-null    Int64
 6   passing_pct       286 non-null    float64
 7   passing_yds       286 non-null    Int64
 8   passing_td        286 non-null    Int64
 9   rushing_att       286 non-null    Int64
 10  rushing_yds       286 non-null    Int64
 11  rushing_avg       286 non-null    float64
 12  rushing_td        286 non-null    Int64
 13  total_plays       286 non-null    Int64
 14  total_yds         286 non-null    Int64
 15  total_avg         286 non-null    float64
 16  first_down_pass   286 non-null    Int64
 17  first_down_rush   286 non-null    Int64
 18  first_down_pen    286 non-null    Int64
 19  first_down_total  286 non-null    Int64
 20  penalties         286 non-null    Int64
 21  penalty_yds       286 non-null    Int64
 22  fumbles           286 non-null    Int64
 23  intceptions       286 non-null    Int64
 24  turnovers         286 non-null    Int64
 25  outcome           286 non-null    object
 26  points_for        286 non-null    Int64
 27  points_against    286 non-null    Int64
dtypes: Int64(20), datetime64[ns](1), float64(3), object(4)
memory usage: 70.4+ KB

In [20]:
# Final confirmation of data cleaning operations
defense_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287 entries, 2 to 334
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              287 non-null    datetime64[ns]
 1   home_away         287 non-null    object
 2   opponent          287 non-null    object
 3   score             287 non-null    object
 4   passing_cmp       287 non-null    Int64
 5   passing_att       287 non-null    Int64
 6   passing_pct       287 non-null    float64
 7   passing_yds       287 non-null    Int64
 8   passing_td        287 non-null    Int64
 9   rushing_att       287 non-null    Int64
 10  rushing_yds       287 non-null    Int64
 11  rushing_avg       287 non-null    float64
 12  rushing_td        287 non-null    Int64
 13  total_plays       287 non-null    Int64
 14  total_yds         287 non-null    Int64
 15  total_avg         287 non-null    float64
 16  first_down_pass   287 non-null    Int64
 17  first_down_rush   287 non-null    Int64
 18  first_down_pen    287 non-null    Int64
 19  first_down_total  287 non-null    Int64
 20  penalties         287 non-null    Int64
 21  penalty_yds       287 non-null    Int64
 22  fumbles           287 non-null    Int64
 23  intceptions       287 non-null    Int64
 24  turnovers         287 non-null    Int64
 25  outcome           287 non-null    object
 26  points_for        287 non-null    Int64
 27  points_against    287 non-null    Int64
dtypes: Int64(20), datetime64[ns](1), float64(3), object(4)
memory usage: 70.6+ KB

In [ ]:
# Export to csv and SQLite Database