In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Read in csv files
offense_df = pd.read_csv("resources/offense.csv")
defense_df = pd.read_csv("resources/defense.csv")

In [4]:
# Preview the first five rows of the offense dataset
offense_df.head()

,date,home_away,opponent,score,passing_cmp,passin_att,passing_pct,passing_yds,passing_td,rushing_att,...,total_avg,first_down_pass,first_down_rush,first_down_pen,first_down_total,penalties,penalty_yds,fumbles,intceptions,turnovers
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-09-02,NaN,San Jose State,W (49-13),5.0,13.0,38.5,91.0,1.0,60.0,...,8.2,4.0,24.0,0.0,28.0,4.0,31.0,0.0,3.0,3.0
3,2000-09-09,@,Notre Dame,W (27-24),7.0,15.0,46.7,103.0,0.0,59.0,...,5.1,5.0,14.0,1.0,20.0,6.0,44.0,0.0,1.0,1.0
4,2000-09-23,NaN,Iowa,W (42-13),10.0,13.0,76.9,159.0,5.0,51.0,...,7.7,6.0,17.0,0.0,23.0,5.0,55.0,1.0,0.0,1.0

In [5]:
# Drop rows where all columns are NaN
offense_df = offense_df.dropna(how='all')
defense_df = defense_df.dropna(how='all')

In [11]:
# Inspect the information of the dataset
offense_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 288 entries, 2 to 333
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              288 non-null    object
 1   home_away         131 non-null    object
 2   opponent          288 non-null    object
 3   score             288 non-null    object
 4   passing_cmp       286 non-null    float64
 5   passin_att        286 non-null    float64
 6   passing_pct       286 non-null    float64
 7   passing_yds       286 non-null    float64
 8   passing_td        286 non-null    float64
 9   rushing_att       286 non-null    float64
 10  rushing_yds       286 non-null    float64
 11  rushing_avg       286 non-null    float64
 12  rushing_td        286 non-null    float64
 13  total_plays       288 non-null    float64
 14  total_yds         288 non-null    float64
 15  total_avg         286 non-null    float64
 16  first_down_pass   286 non-null    float64
 17  first_down_rush   286 non-null    float64
 18  first_down_pen    286 non-null    float64
 19  first_down_total  286 non-null    float64
 20  penalties         286 non-null    float64
 21  penalty_yds       286 non-null    float64
 22  fumbles           286 non-null    float64
 23  intceptions       286 non-null    float64
 24  turnovers         286 non-null    float64
dtypes: float64(21), object(4)
memory usage: 58.5+ KB
None

In [ ]:
# Split the record apart and create columns for points for, against, diff, and outcome

In [ ]:
# Fill in the Home/Away information

In [12]:
# Convert dtypes

In [ ]:
# Export to csv and SQLite Database